In [1]:
a = 100

In [2]:
age = 32
name = "Akshay"
height = 5.9

In [3]:
print(age)
print(name)
print(height)

32
Akshay
5.9

# Naming Convention

In [4]:
# Variable names should be desciptive
# They must start with a letter or an '_' and contains letters,numbers and underscores
# variable names case sesitive

In [5]:
first_name = "Akshay"
last_name = "Muduli"

In [9]:
# Invalid variable names
# 2age = 30
# first-name = "Akshay"
# @name = "Akshay"

In [10]:
# Case Sensitve
name= "Akshay"
Name = "Kirti"

name == Name

False

In [25]:
# Unserstandiing variables type
# Python is dynamic typed, type og variable is determined at runtime

age = 20 # int
height = 5.9 # float
name = "Akshay" #str
is_student = True #bool

# Type convertion

In [ ]:

age = 26 #int

type(age)

int

In [15]:
print(float(age))
type(float(age))

26.0

float

In [16]:
print(str(age))
type(str(age))

26

str

In [20]:
num = "20"

type(num)

str

In [21]:
print(int(num))
type(int(num))

20

int

In [22]:
name = "Akshay"
type(name)

str

In [24]:
# int(name)  --> ValueError: invalid literal for int() with base 10: 'Akshay'

# Dynamic typing

In [26]:
# Python allows the type of a variable to change as the program executes

var = 10 #int
print(var, type(var))

var = "Hello" #str
print(var, type(var))

var = 10.22 #float
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
10.22 <class 'float'>

# Simple Calculator

In [27]:
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("First Num : ", num1, "\nSecond Num : ", num2 )
print("Sum : ", sum)
print("Difference : ", difference)
print("Product : ", product)
print("Quotient : ", quotient)

First Num :  11.0
Second Num :  10.0
Sum :  21.0
Difference :  1.0
Product :  110.0
Quotient :  1.1